/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.detail-block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.detail-img {
  width: 100%;
}
.detail-block .inf-link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
	.detail-block { text-align: center;
	}
}
.centered-main-page-element {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task-input-el {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.add-input-wrapper {
  display: flex;
}
.tasks-list {
  margin: 0;
  padding: 0px;
}
.tasks-item, .task-heading {
  list-style: none;
}
.input-el,.btn{
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.task-heading,
.label-el[for="task-add-input"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-el[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.input-el[type="text"]:focus {
  color: #333;
}

/* New Task */
.label-el[for="task-add-input"] {
  display: block;
  margin: 0 0 20px;
}
.input-el#task-add-input {
  width: 318px;
}

/* Task list */
.tasks-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-item > * {
  vertical-align: middle;
}

.tasks-item > .input-el[type="checkbox"] {
  margin: 0 10px;
}
.tasks-item > .label-el {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-item >  .input-el[type="text"] {
  width: 226px
}
.btn.task-delete-btn .btn-del {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn.task-delete-btn .btn-del:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks-list#completed-tasks .label-el {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list .tasks-item .input-el[type=text] {
  display: none
}

.tasks-list .tasks-item.edit-container .input-el[type=text] {
  display: inline-block;
  width: 224px
}

.tasks-list .tasks-item.edit-container .label-el {
  display: none;
}